<div class="wrapper flex-center">
    <div class="profile-content flex-center">
        <h1>Профиль</h1>
        <div class="profile-content__avatar flex-center">
            <div class="avatar-image" title="Изменить аватар"></div>
            <p class="text-bold">{{first_name}}</p>
        </div>
        <div class="profile-content__informations">
            {{{Info param="Почта" value=email}}}
            {{{Info param="Логин" value=login}}}
            {{{Info param="Имя" value=first_name}}}
            {{{Info param="Фамилия" value=second_name}}}
            {{{Info param="Имя в чате" value=display_name}}}
            {{{Info param="Телефон" value=phone}}}
        </div>
        <div class="profile-content__buttons">
            {{{Link label="Изменить данные" to="/settings"}}}
            {{{Link label="Изменить пароль" to="/profileEditPass"}}}

            {{{Button label="Выйти" onClick=onLogout}}}
        </div>
    </div>
</div>