<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>Редактировать профиль</h1>

            {{{LabelInput label="Почта" value="pochta@yandex.ru" name="email" validation="email"}}}
            {{{LabelInput label="Логин" value="alex" name="login" validation="login"}}}
            {{{LabelInput label="Имя" value="Alexander" name="first_name" validation="name"}}}
            {{{LabelInput label="Фамилия" value="Mkk" name="last_name" validation="name"}}}
            {{{LabelInput label="Имя в чате" value="Alex" name="nickname" validation="login"}}}
            {{{LabelInput label="Телефон" type="tel" value="+7 (909) 967 30 30" name="phone" validation="phone"}}}

            {{{Button label="Сохранить" type="submit" onClick=onClick}}}
        </form>
    </div>
</div>