{{#if show}}
    <div class="{{styles.modal}}">
        <div class="{{styles.content}}">
          12351251
          <div class="{{styles.close}}">
            {{{Button label="X" type="submit" onClick=onClose}}}
          </div>
        </div>
    </div>
{{else}}
    <div>123</div>
{{/if}}