<div class="wrapper flex-center">
    <div class="profile-content flex-center">
        <h1>{{title}}</h1>
        <div class="profile-content__avatar flex-center">
            <div class="avatar-image" title="Изменить аватар"></div>
            <p class="text-bold">Александр</p>
        </div>
        <div class="profile-content__informations">
            {{{Info param="Почта" value="pochta@yandex.ru"}}}
            {{{Info param="Логин" value="alex"}}}
            {{{Info param="Имя" value="Alexander"}}}
            {{{Info param="Фамилия" value="Mkk"}}}
            {{{Info param="Имя в чате" value="Alex"}}}
            {{{Info param="Телефон" value="+7 (909) 967 30 30"}}}
        </div>
        <div class="profile-content__buttons">
            <a href="/index.html?page=profileEdit">Изменить данные</a>
            <a href="/index.html?page=profileEditPass">Изменить пароль</a>
            <a href="#" class="color-red">Выйти</a>
        </div>
    </div>
</div>