<div class="{{styles.dialog-wrapper}}">
    <div class="{{styles.dialog-content}}">
        <div class={{styles.dialog-time}}>
            <time>20 августа</time>
        </div>
        <div class="left-message">
            Привет! Смотри, тут всплыл интересный кусок лунной космической истории — НАСА в какой-то момент попросила Хассельблад адаптировать модель SWC для полетов на Луну. Сейчас мы все знаем что астронавты летали с моделью 500 EL — и к слову говоря, все тушки этих камер все еще находятся на поверхности Луны, так как астронавты с собой забрали только кассеты с пленкой.

            Хассельблад в итоге адаптировал SWC для космоса, но что-то пошло не так и на ракету они так никогда и не попали. Всего их было произведено 25 штук, одну из них недавно продали на аукционе за 45000 евро.
            <span class="{{styles.message-time}}">20:12</span>
        </div>
        <div class="{{styles.right-message}}">
            Nice!
            <span class="{{styles.message-time}}">20:12</span>
        </div>
    </div>
    <div class="{{styles.dialog-message}} flex-center">
        <div class="{{styles.page-button}} {{styles.attach}}"></div>
        <div class="flex-auto">
            {{{LabelInput name="message" placeholder="Сообщение" validation="message"}}}
        </div>
        <div class="{{styles.page-button}} {{styles.arrow-right}}"></div>
    </div>
</div>