<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>{{title}}</h1>

            {{{LabelInput label="Логин" name="login" validation="login"}}}
            {{{LabelInput label="Имя" name="first_name" validation="name"}}}
            {{{LabelInput label="Фамилия" name="second_name" validation="name"}}}
            {{{LabelInput label="Отображаемое имя" name="display_name" validation="name"}}}
            {{{LabelInput label="Почта" name="email" type="email" validation="email"}}}
            {{{LabelInput label="Телефон" name="phone" type="tel" validation="phone"}}}
            {{{LabelInput label="Аватар" name="avatar" type="file"}}}
            {{{LabelInput label="Пароль" name="oldPassword" type="password" validation="password"}}}
            {{{LabelInput label="Повторите пароль" name="newPassword" type="password" validation="password"}}}

            {{{Button label="Регистрация" type="submit" onClick=onClick}}}

            <p class="form__help">
                <a href="/index.html?page=login">Вход</a>
            </p>
        </form>
    </div>
</div>