<div class="wrapper flex-center">
    <div class="form-wrapper">
        <form class="form">
            <h1>{{title}}</h1>

            {{{LabelInput label="Старый пароль" name="oldPassword" type="password" validation="password"}}}
            {{{LabelInput label="Новый пароль" name="newPassword" type="password" validation="password"}}}
            {{{LabelInput label="Повторите новый пароль" name="newPasswordValid" type="password" validation="password"}}}

            {{{Button label="Сохранить" type="submit" onClick=onClick}}}
        </form>
    </div>
</div>